* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #0f0f0f;
    color: #ccc;
    font-family: 'Fira Code', monospace;
    line-height: 1.6;
  }
  
  .container {
    
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  
  h1 {
    color: #fff;
    font-size: 1.5rem;
  }
  
  
  
  
  
 
  
  
  .skills {
        position: fixed; /* Rend la boîte fixe à l'écran */
        top: 50%;        /* Centre verticalement */
        left: 200px;         /* Colle à gauche */
        transform: translateY(-10%); /* Ajuste pour que le centre de la box soit au milieu */
        /* Tu peux ajouter du style pour la taille, la couleur, etc. */
        border: 2px solid white;
        padding: 20px;
        
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        /*text*/
        text-align: left;
        height: auto;
        width: 200px;
        overflow: auto;
        
      }
      
  
  
  
  
  .card img {
    width: 200px;
    border-radius: 8px;
  }
  
