* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #0f0f0f;
  color: #ccc;
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
  
  background-image: url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Titre du haut */
.container {
  position: fixed;
  top: 15%;
  left: 200px;
  
  padding: 30px;
  width: 500px;

  background: rgba(255, 255, 255, 0.1);        /* fond blanc transparent */
  backdrop-filter: blur(10px);                 /* flou */
  -webkit-backdrop-filter: blur(10px);         /* compatibilité Safari */

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
}

}

/* La box Skills */
.skills-box {
  position: fixed;
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  
  padding: 30px;
  width: 500px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;

  z-index: 10;
}

/* Grille des langages */
.languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 20px;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lang-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

h1 {
  color: #fff;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
