@font-face {
    font-family: "ff";
    src: url(/fonts/helvetica-255/helvetica-rounded-bold-5871d05ead8de.otf) format("ttf");
    font-weight: normal;
    font-style: normal;
}

[data-theme="light"]{
    --bg-color:#F4F3F2;
    --text-color: #222;
    --cbg-color: #F4F3F2;
    --selection-bg: #0f0c0c;
    --selection-color: #F4F3F2;

}
    
[data-theme="dark"] {
    --bg-color: #0f0f0f;
    --text-color: #F4F3F2;
    --cbg-color: rgba(15, 15, 15, 0.80);
    --selection-bg: #F4F3F2;
    --selection-color: #0f0f0f;
}



::selection {
  background-color: var(--selection-bg);
  color: var(--selection-color)
}

::-moz-selection {
  background-color: var(--selection-bg);
  color: var(--selection-color)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    
}

header {
    display: flex;
    flex-direction: row;
}
body {
    background-color: var(--bg-color);
    -webkit-font-smoothing: antialiased;
    
    
}
.container {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--cbg-color);
    border-left: 3px solid var(--text-color);
    border-right: 3px solid var(--text-color);
    gap: 64px;
}

h1 {
    font-size: 160px;
    
}
h2 {
    font-size: 80px;
}

    .presentation {
    display: flex;
    gap: 40px;
}

ul {
  list-style-type: none;
}


.me {
    display: flex;
    gap: 15px;
}

.cert {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;

}

.cert iframe {
    width: 100%;
    height: 190px;  
}

.talents {
    display: flex;
    margin-top: 80px;
}

.projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
    
}

.project-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 620px;
    
    
}
.projinspi {
    border: 1px solid var(--text-color);
    flex-direction: row;
    padding: 5px;
    max-width: 300px;
    max-height: 150px;
    animation: wave 1.6s ease-in-out infinite;
  animation-play-state: paused;
}

#proj1modal:modal {
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 2rem;
}

#proj1modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.projinspi:hover {
  animation-play-state: running;
}

@keyframes wave {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}


.skills {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding: 5px;
    align-items: center;
    border: 1px solid var(--text-color);
}

